<div class="wrapper">
    <div class="sidebar" data-color="blue" data-image="">
        <sidebar-cmp *ngIf="this.loggedIn"></sidebar-cmp>
        <div class="sidebar-background" style="background-image: url(/assets/img/sidebar-2.jpg)"></div>
    </div>

    <div class="main-panel">
        <navbar-cmp *ngIf="this.loggedIn"></navbar-cmp>
        <dashboard-cmp (signIn)="this.loggedIn=true"></dashboard-cmp>
        <div *ngIf="!isMaps('/maps')">
            <footer-cmp *ngIf="this.loggedIn"></footer-cmp>
        </div>
    </div>
</div>
