<div class="main-content" >
    <div class="container-fluid">
        <div class="card" [@cardnotifications]>
            <div class="header">
                <h4 class="title">Alertas</h4>
            </div>
            <div class="content">
                <div *ngFor="let alerta of alertas" class="row">
                    <div class="col-md-6">
                        <div class="alert alert-danger">
                            <button type="button" aria-hidden="true" class="close">×</button>
                            <span>{{alerta}}</span>
                        </div>
                    </div>
                </div>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>
